.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  width: 4rem;
  height: 4rem;
  border: 4px solid rgba(0, 229, 255, 0.3);
  border-radius: 50%;
  border-top-color: #00e5ff;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}